/* Corps de la page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* En-tête */
header {
  background: url("images/fond-plantes.webp") no-repeat center center;
  background-size: cover;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 50px;
}

/* Barre de navigation */
nav {
  background: #008000;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: black;
}

/* Contenu principal */
main {
  padding: 40px 20px;
  text-align: center;
}

/* Pied de page */
footer {
  background: #582900;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
